a.link-gray {
    color: #A0A0A0;
}

a.link-white {
    color: #fff;
}

a.link-teal, a.link-gray:hover, a.link-white:hover {
    color: #008080;
}

.container-bg-teal {
    background: #008080 
}
.container-bg-darkteal {
    background: #004040
}

.text-gray {
    color: #A0A0A0;
}

.text-lightgray {
    color: #D0D0D0;
}

ul.description > li {
    font-size: 14px;
}

.intro img {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: contain;
    opacity: 0.5;
}

.product {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    margin: auto;
}

.product img {
    width: 40%;
    min-width: 450px;
    height: auto;
    object-fit: contain;
    align-self: flex-start;
}

.product .description {
    width: 30%;
    height: auto;
}

.product .description .title {
    color: teal;
    font-weight: bold;
}

div.feature-container {
    width: 100%;
    max-width: 1500px;
    padding: 60px;
    margin: auto;
    margin-top: 40px;
    border: 0.2px solid #A0A0A0;
    border-radius: 10px;
}

div.feature-container .features {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

div.feature-container .features > div > div.header {
    display: flex;
    gap: 10px;
    width: 220px;
    margin: auto;
}

div.feature-container .features > div > div.header > img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

div.feature-container .features > div {
    color: #fff;
    height: 100%;
    background: #004040;
    text-align: left;
    cursor: default;
    padding: 20px;
    flex: 1;
    border-radius: 10px;
    margin: auto;
    position: relative;
}

div.feature-container .features > div > img {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 30px;
    height: auto;
}

div.feature-container .features > div > p.h7 {
    margin-left: 40px;
}

div.feature-container > div.sample-container {
    padding: 20px;
    margin-top: 40px;
    border-radius: 10px;
}

div.use-case {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

div.use-case > img {
    width: 50%;
}

div.use-case p.description {
    font-size: 14px;
}

div.feature-container > div.summary {
    width: 70%;
    margin: auto;
    margin-top: 60px;
    text-align: center;
}

div.feature-container > div.summary > button {
    height: 50px;
    background-color: teal;
    border: none;
    border-radius: 8px;
    padding: 10px 30px 10px 30px;
    margin-top: 20px;
    color: #fff;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(3px);
    z-index: 999;
  }

.text-bg-dark {
    color: #fff !important;
    background-color: RGBA(var(--bs-dark-rgb), var(--bs-bg-opacity, 0.95)) !important;
}

.text-end img {
    width: 120px;
    height: auto;
}

body {
    background-color: rgb(13 13 13);
}

.intro {
    background: radial-gradient(50% 50% at 50% 50%, 
    var(--token-fa493213-d8ad-48fe-9fa5-9f426d9d5ec4, #8737ff) 0%, 
    rgba(64, 65, 255, 0.3) 54.05495%, 
    rgba(13, 13, 13, 0) 131.98565%);
    background: url("images/ai-bg.jpg");
}

.small-box {
    width: 60%;
    max-width: 850px;
    margin-top: 120px !important;
}

.about {
    width: 90%;
    max-width: 1500px;
    border-radius: 10px;
}

.playground {
    background-color: black;
    width: 90%;
    max-width: 1500px;
    border-radius: 10px;
}
